
<div id="myModal" class="modal">
<!-- Modal content -->
<div class="modal-content">
  <span class="close">&times;</span>
  <table style="width:100%">
	  <tr>
	  	<th> Select Item </th>
	    <th>Name</th>
	    <th>Amount</th>
	  </tr>
	  <% @items.each do |item| %>
		  <tr>
		  	<td> <input type="checkbox" value=<%=item.id%> > </td>
		    <td><%= item.name %></td>
		    <td><%= item.amount %></td>
		  </tr>
		<% end %>
	</table>
	<input type="submit" value="Submit", id="submit-btn">
</div>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("place-order-btn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

var submit_btn = document.getElementById("submit-btn");

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

submit_btn.onclick = function() {
  modal.style.display = "block";
}

span.onclick = function() {
  modal.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>